{% extends "cima-padrao.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Deletar Ativo - {{ativo}}</h1>
		<p class="lead text-muted">Realmente deseja deletar o monitoramento desse ativo?</p>
		<p>
			<!-- <a href="#" class="btn btn-primary my-2">Adicionar ativos</a> -->
			<form action="" method="post">
				{% csrf_token %}
				<a href="{% url 'home' %}" class="btn btn-secondary my-2">Cancelar</a>
				<button class="btn btn-danger">Deletar</button>
			</form>
		</p>
	</div>
</div>

{% endblock %}