{% extends "cima-padrao.html" %}

{% block content %}
<div class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Meus Ativos</h1>
		<p class="lead text-muted">Aqui encontra-se os ativos no qual você esta monitorando no momento.</p>
		<p>
			<a href="{% url 'ativo' %}" class="btn btn-primary my-2">Adicionar ativos</a>
			<!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
		</p>
	</div>
</div>

<div class="album py-5 bg-light">
	<div class="container">
		<div class="row">
			{% for ativo in ativos %}
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<div class="card-body">
							<p class="card-title">{{ ativo.cod_b3 }}</p>
							<p class="card-text">
								Atual: 
								{% if ativo.ultimo_hist %}
									R$ {{ ativo.ultimo_hist|floatformat:2 }}
								{% else %}
									-
								{% endif %}
								<br>
								<small>
									Venda em: R$ {{ ativo.lim_sup|floatformat:2 }} <br>
									Compra em: R$ {{ ativo.lim_inf|floatformat:2 }}
								</small>
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="{% url 'ativo-historico' ativo.pk %}" class="btn btn-sm btn-outline-primary">Histórico</a>
									<a href="{{ ativo.get_absolute_url }}" class="btn btn-sm btn-outline-secondary">Editar</a>
									<a href="{% url 'ativo-delete' ativo.pk %}" class="btn btn-sm btn-outline-danger">Deletar</a>
								</div>
								<!-- <small class="text-muted">9 mins</small> -->
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
</div>
{% endblock %}